<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds" debug="true">
	<contextName>common</contextName>
	<property name="COMMON_PATTERN"
		value="%green(%d{21:mm:ss}) %highlight(%-5level) [%yellow(%thread)] %logger Line:%-3L - %msg%n" />
	<appender name="TRACEX" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${COMMON_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<logger name="com.pack" level="INFO"/>
	<springProfile name="dev | default">
		<root level="INFO">
			<appender-ref ref="TRACEX" />
		</root>
	</springProfile>
</configuration>